# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar completamente uploads
uploads/

# Prisma
.prisma/

# Env files
.env

# Logs
logs
*.log
*.csv

*.env

# OS
.DS_Store
Thumbs.db
